[Bb]in/
[Oo]bj/
[Pp]ackages/
[Dd]ata/
GalaxyGame.UnityScene/Temp
GalaxyGame.UnityScene/Assets/Energy Bar Toolkit
GalaxyGame.UnityScene/Assets/libs
GalaxyGame.UnityScene/Library/metadata
GalaxyGame.UnityScene/Library/ShaderCache
GalaxyGame.UnityScene/Library/cache